
body{
    background-color: lavender;
    font-family: monospace;
  
}

header{
    background-color: skyblue ;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

header h1{
    text-align: right;
}

header img{
    width: 75%
    
}

