body {
    background-color: lavender;
    font-family: monospace;
}

#header {
    width: 75%;
    height: 100vh;
    background-color: skyblue;
 }

/* --------------------> RESPONSIVE DESIGN <----------------------------------- */

/* display none if the viewport is less than or equal to 500px */
 @media only screen and (max-width: 500px) {
    #reviews {
      display: none;
    }
  }

  /* display block for screen width greater than 500px */
  @media (min-width: 501px) {
    #reviews {
      display: block;
    }
  }
  